In [1]:
import os
import sys
import re
import pandas as pd
import commands
import ast
import itertools
import pyspark.sql.functions
from pyspark.sql.functions import col
from datetime import datetime
from collections import Counter
import re
import numpy as np
#from pyspark.sql import SparkSession
spark_home = os.environ.get('SPARK_HOME', None)
if not spark_home:
    raise ValueError('SPARK_HOME environment variable is not set')
if not os.path.isdir(spark_home):
    raise ValueError('SPARK_HOME environment variable is not a directory')
if not os.path.isdir(os.path.join(spark_home, 'python')):
    raise ValueError('SPARK_HOME directory does not contain python')
sys.path.insert(0, os.path.join(spark_home, 'python'))
pylib_list = (item for item in os.listdir(os.path.join(spark_home, 'python/lib/'))
              if re.match(r'py4j-\d+(\.\d+)+-src\.zip\Z', item)
              )
try:
    py4j_file = max(pylib_list)
    py4j = os.path.join(spark_home, os.path.join('python/lib', py4j_file))
except ValueError:
    raise ValueError(
        'Could not find py4j'
    )
sys.path.insert(0, py4j)

spark_release_file = spark_home + "/RELEASE"
if os.path.exists(spark_release_file) and "Spark" in  open(spark_release_file).read():
    pyspark_submit_args = os.environ.get("PYSPARK_SUBMIT_ARGS", " --master yarn-client \
                                         --executor-memory 4g --executor-cores 5 --driver-memory 16g"
                                        )
    if not "pyspark-shell" in pyspark_submit_args: pyspark_submit_args += " pyspark-shell"
    os.environ["PYSPARK_SUBMIT_ARGS"] = pyspark_submit_args

with open(os.path.join(spark_home, 'python/pyspark/shell.py')) as f:
    code = compile(f.read(), os.path.join(spark_home, 'python/pyspark/shell.py'), 'exec')
    exec(code)

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 2.3.0.2.6.5.0-292
      /_/

Using Python version 2.7.15 (default, May  1 2018 23:32:55)
SparkSession available as 'spark'.

# Convert multitab in single tab excel

In [2]:
tab_list=['account','activityparty','annotation','appointment','businessunit','calendar','calendarrule','contact','cxlvhlp_chatactivity','cxlvhlp_chatqueuestatistic','cxlvhlp_surveyitem','email','fax','gcct_accountresponsibleagent','gcct_additionalsymptomcodes','gcct_addportalmessage','gcct_arbitrationclaimprocessing','gcct_buybackevaluationmilestones','gcct_caseassignment','gcct_caseclassification','gcct_casedispositiontype','gcct_coachback','gcct_country','gcct_customersatisfactiontools','gcct_delegationofauthority','gcct_demandltrtpsmclaimsprocessing','gcct_doaprogramcode','gcct_documentcustomerrecontact','gcct_engine','gcct_executive','gcct_executiveliaison','gcct_fieldinvolvementassistancerequest','gcct_fmcccontract','gcct_fulfillmentvendor','gcct_genericinformation','gcct_genericinformationtopic','gcct_generictopic','gcct_goodfaithreview','gcct_knownpartsdelay','gcct_lemonlawcriteria','gcct_loanercost','gcct_loyaltyassistance','gcct_loyaltycostdetails','gcct_loyaltyprogramcode','gcct_material','gcct_materialrequest','gcct_materialrequestdetail','gcct_offer','gcct_offerdetail','gcct_onlinegaragevehicles','gcct_partsorderstatus','gcct_partsordersystems','gcct_partssmeassistancerequest','gcct_pcarequest','gcct_priordealerdecision','gcct_qaincident','gcct_qamonitoring','gcct_queuepriority','gcct_ravprocessingmilestones','gcct_reactdata','gcct_reacttransmission','gcct_reasoncode','gcct_recall','gcct_region','gcct_rentaldetail','gcct_slaconfiguration','gcct_sms','gcct_socialmediaconversation','gcct_socialmediamessage','gcct_socialmediaprofile','gcct_specialloanercode','gcct_state','gcct_surveyconfiguration','gcct_symptomclassification','gcct_tasktype','gcct_technicalassistancerequest','gcct_testdriverequest','gcct_timezone','gcct_userdelegationofauthority','gcct_vehicle','gcct_vehiclebrand','gcct_vehicleclass','gcct_vehicleloyaltyallowance','gcct_vehicleoffroad','gcct_vehicleowner','gcct_warrantyhistory','gcct_warrantyloanerpartsdelay','gcct_warrantyloanerrequest','gcct_warrantyloanerrequesthistory','globaloptionsetmetadata','incident','incidentresolution','letter','msdyn_answer','msdyn_question','msdyn_questionresponse','msdyn_survey','msdyn_surveyinvite','msdyn_surveyresponse','optionsetmetadata','phonecall','queue','queueitem','sla','slaitem','slakpiinstance','socialactivity','socialprofile','statemetadata','statusmetadata','systemuser','task','team','teammembership','territory','gcct_marketingprogram','gcct_catalogcorrection','gcct_cataloginquiry','gcct_dealerclaims','gcct_fcsinquiry','gcct_partavailabilityinquiry','gcct_partorderstatusinquiry','gcct_partqualitycontrolinquiry','gcct_pricinginquiries','gcct_trafficinquiry','gcct_catalogdeck', 'gcct_partdistributioncenter', 'gcct_portalcasetype']

In [3]:
import xlrd

new=pd.ExcelFile('/s/latluri1/GCCT_EntitySchema_Sep2019.xlsx',encoding=sys.getfilesystemencoding())
#new=pd.ExcelFile('/s/latluri1/Schema_changes/GCCT_EntitySchema_v2.4.xlsx')
#new=pd.ExcelFile('/s/latluri1/DES/GCCT_EntitySchema_v2.5_march21_2019.xlsx')

In [4]:
#take 5 th sheet and create empty data frame
schema_df=new.parse(new.sheet_names[5]).truncate(after=-1)
list_sheets=list(new.sheet_names)
list_sheets.remove('Entities list')
#tables_list=new.parse('Entities list',skiprows=2)['Logical Name']
tables_list=new.parse('Entities list')['Logical Name']

In [5]:

output_name="Sep_2019"
writer = pd.ExcelWriter("GCCT Schema single excel_"+output_name+".xlsx", engine = 'xlsxwriter')

for j,i in enumerate(list_sheets):
    df=new.parse(i)
    df["Table"]=tables_list[j]
    if tables_list[j] in tab_list:
        df["Priority"]="True"
    else:
        df["Priority"]="False"
    schema_df=schema_df.append(df,ignore_index=True,sort=True)
    
    
schema_df.to_excel(writer, sheet_name="Sheet1", index=False)
writer.save()
writer.close()

In [6]:
stmnt='echo \"GCCT schema in single Excel file  '+output_name+'\" | mailx -a GCCT\ Schema\ single\ excel_'+output_name+'.xlsx -s GCCT\ Schema\ single\ file_'+output_name+' latluri1@ford.com'
print(stmnt)

echo "GCCT schema in single Excel file  Sep_2019" | mailx -a GCCT\ Schema\ single\ excel_Sep_2019.xlsx -s GCCT\ Schema\ single\ file_Sep_2019 latluri1@ford.com

In [7]:
commands.getstatusoutput(stmnt)

(0, '')

In [7]:
schema_df

,Additional data,Audit Enabled,Custom Attribute,Description,Display Name,Logical Name,Priority,Required Level,Schema Name,Secured,Table,Type,ValidFor AdvancedFind
0,Options:\n1: Preferred Customer\n2: Standard\n...,True,False,Select a category to indicate whether the cust...,Account Category,accountcategorycode,True,None,AccountCategoryCode,False,account,Picklist,True
1,NaN,False,False,NaN,NaN,accountcategorycodename,True,None,AccountCategoryCodeName,False,account,Virtual,False
2,Options:\n1: Default Value\nDefault: 1,True,False,Select a classification code to indicate the p...,Classification,accountclassificationcode,True,None,AccountClassificationCode,False,account,Picklist,False
3,NaN,False,False,NaN,NaN,accountclassificationcodename,True,None,AccountClassificationCodeName,False,account,Virtual,False
4,NaN,False,False,Unique identifier of the account.,Account,accountid,True,SystemRequired,AccountId,False,account,Uniqueidentifier,True
5,Format: Text\nMax length: 20,True,False,Type an ID number or code for the account to q...,Account Number,accountnumber,True,None,AccountNumber,False,account,String,True
6,Options:\n1: Default Value\nDefault: 1,True,False,Select a rating to indicate the value of the c...,Account Rating,accountratingcode,True,None,AccountRatingCode,False,account,Picklist,False
7,NaN,False,False,NaN,NaN,accountratingcodename,True,None,AccountRatingCodeName,False,account,Virtual,False
8,NaN,False,False,Unique identifier for address 1.,Address 1: ID,address1_addressid,True,None,Address1_AddressId,False,account,Uniqueidentifier,False
9,Options:\n1: Bill To\n2: Ship To\n3: Primary\n...,True,False,Select the primary address type.,Address 1: Address Type,address1_addresstypecode,True,None,Address1_AddressTypeCode,False,account,Picklist,True
10,NaN,False,False,NaN,NaN,address1_addresstypecodename,True,None,Address1_AddressTypeCodeName,False,account,Virtual,False
11,Format: Text\nMax length: 80,True,False,Type the city for the primary address.,Address 1: City,address1_city,True,None,Address1_City,False,account,String,True
12,Format: TextArea\nMax length: 1000,True,False,Shows the complete primary address.,Address 1,address1_composite,True,None,Address1_Composite,False,account,Memo,True
13,Format: Text\nMax length: 80,True,False,Type the country or region for the primary add...,Address 1: Country/Region,address1_country,True,None,Address1_Country,False,account,String,True
14,Format: Text\nMax length: 50,True,False,Type the county for the primary address.,Address 1: County,address1_county,True,None,Address1_County,False,account,String,True
15,Format: Text\nMax length: 50,True,False,Type the fax number associated with the primar...,Address 1: Fax,address1_fax,True,None,Address1_Fax,False,account,String,True
16,Options:\n1: FOB\n2: No Charge\nDefault: N/A,True,False,Select the freight terms for the primary addre...,Address 1: Freight Terms,address1_freighttermscode,True,None,Address1_FreightTermsCode,False,account,Picklist,True
17,NaN,False,False,NaN,NaN,address1_freighttermscodename,True,None,Address1_FreightTermsCodeName,False,account,Virtual,False
18,Minimum value: -90\nMaximum value: 90\nPrecisi...,True,False,Type the latitude value for the primary addres...,Address 1: Latitude,address1_latitude,True,None,Address1_Latitude,False,account,Double,True
19,Format: Text\nMax length: 250,True,False,Type the first line of the primary address.,Address 1: Street 1,address1_line1,True,None,Address1_Line1,False,account,String,True
20,Format: Text\nMax length: 250,True,False,Type the second line of the primary address.,Address 1: Street 2,address1_line2,True,None,Address1_Line2,False,account,String,True
21,Format: Text\nMax length: 250,True,False,Type the third line of the primary address.,Address 1: Street 3,address1_line3,True,None,Address1_Line3,False,account,String,True
22,Minimum value: -180\nMaximum value: 180\nPreci...,True,False,Type the longitude value for the primary addre...,Address 1: Longitude,address1_longitude,True,None,Address1_Longitude,False,account,Double,True
23,Format: Text\nMax length: 200,True,False,Type a descriptive name for the primary addres...,Address 1: Name,address1_name,True,None,Address1_Name,False,account,String,True
24,Format: Text\nMax length: 20,True,False,Type the ZIP Code or postal code for the prima...,Address 1: ZIP/Postal Code,address1_postalcode,True,None,Address1_PostalCode,False,account,String,True
25,Format: Text\nMax length: 20,True,False,Type the post office box number of the primary...,Address 1: Post Office Box,address1_postofficebox,True,None,Address1_PostOfficeBox,False,account,String,True
26,Format: Text\nMax length: 100,True,False,Type the name of the main contact at the accou...,Address 1: Primary Contact Name,address1_primarycontactname,True,None,Address1_PrimaryContactName,False,account,String,True
27,Options:\n1: Airborne\n2: DHL\n3: FedEx\n4: UP...,True,False,Select a shipping method for deliveries sent t...,Address 1: Shipping Method,address1_shippingmethodcode,True,None,Address1_ShippingMethodCode,False,account,Picklist,True
28,NaN,False,False,NaN,NaN,address1_shippingmethodcodename,True,None,Address1_ShippingMethodCodeName,False,account,Virtual,False
29,Format: Text\nMax length: 50,True,False,Type the state or province of the primary addr...,Address 1: State/Province,address1_stateorprovince,True,None,Address1_StateOrProvince,False,account,String,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10773,Format: Text\nMax length: 50,True,True,Region of Territory.,Region,gcct_region,True,None,gcct_Region,False,territory,String,True
10774,Format: Text\nMax length: 100,True,True,Territory Code of Territory.,Territory Code,gcct_territorycode,True,None,gcct_TerritoryCode,False,territory,String,True
10775,Targets:\nterritory,True,True,Territory Group of Territory.,Territory Group,gcct_territorygroup,True,None,gcct_TerritoryGroup,False,territory,Lookup,True
10776,Format: Text\nMax length: 200,True,True,NaN,NaN,gcct_territorygroupname,True,None,gcct_TerritoryGroupName,False,territory,String,False
10777,Options:\n658030000: Ford Territory\n658030001...,True,True,This attribute is added as per the rework of w...,Territory Type,gcct_territorytypecode,True,None,gcct_TerritoryTypeCode,False,territory,Picklist,True
10778,NaN,False,True,NaN,NaN,gcct_territorytypecodename,True,None,gcct_territorytypecodeName,False,territory,Virtual,False
10779,Format: Text\nMax length: 50,True,True,Zone of Territory.,Zone,gcct_zone,True,None,gcct_Zone,False,territory,String,True
10780,Minimum value: -2147483648\nMaximum value: 214...,True,False,Sequence number of the import that created thi...,Import Sequence Number,importsequencenumber,True,None,ImportSequenceNumber,False,territory,Integer,True
10781,Targets:\nsystemuser,True,False,Unique identifier of the manager of the territ...,Manager,managerid,True,None,ManagerId,False,territory,Lookup,True
10782,Format: Text\nMax length: 100,False,False,NaN,NaN,manageridname,True,None,ManagerIdName,False,territory,String,False
10783,Format: Text\nMax length: 100,False,False,NaN,NaN,manageridyominame,True,None,ManagerIdYomiName,False,territory,String,False
10784,Targets:\nsystemuser,False,False,Unique identifier of the user who last modifie...,Modified By,modifiedby,True,None,ModifiedBy,False,territory,Lookup,True
10785,Format: Text\nMax length: 100,False,False,NaN,NaN,modifiedbyname,True,None,ModifiedByName,False,territory,String,False
10786,Format: Text\nMax length: 100,False,False,NaN,NaN,modifiedbyyominame,True,None,ModifiedByYomiName,False,territory,String,False
10787,Format: DateAndTime,False,False,Date and time when the record was modified.,Modified On,modifiedon,True,None,ModifiedOn,False,territory,DateTime,True
10788,Targets:\nsystemuser,False,False,Unique identifier of the delegate user who las...,Modified By (Delegate),modifiedonbehalfby,True,None,ModifiedOnBehalfBy,False,territory,Lookup,True
10789,Format: Text\nMax length: 100,False,False,NaN,NaN,modifiedonbehalfbyname,True,None,ModifiedOnBehalfByName,False,territory,String,False
10790,Format: Text\nMax length: 100,False,False,NaN,NaN,modifiedonbehalfbyyominame,True,None,ModifiedOnBehalfByYomiName,False,territory,String,False
10791,Format: Text\nMax length: 200,True,False,Name of the territory.,Territory Name,name,True,SystemRequired,Name,False,territory,String,True
10792,Targets:\norganization,False,False,Unique identifier for the organization,Organization Id,organizationid,True,SystemRequired,OrganizationId,False,territory,Lookup,False
10793,Format: Text\nMax length: 100,False,False,NaN,NaN,organizationidname,True,SystemRequired,OrganizationIdName,False,territory,String,False
10794,Format: DateOnly,True,False,Date and time that the record was migrated.,Record Created On,overriddencreatedon,True,None,OverriddenCreatedOn,False,territory,DateTime,True
10795,Targets:\nterritory,True,False,Choose the parent for this territory.,Parent,parentterritoryid,True,None,ParentTerritoryId,False,territory,Lookup,True
10796,Format: Text\nMax length: 200,True,False,NaN,NaN,parentterritoryidname,True,None,ParentTerritoryIdName,False,territory,String,False
10797,NaN,False,False,Unique identifier of the territory.,Territory,territoryid,True,SystemRequired,TerritoryId,False,territory,Uniqueidentifier,True
10798,Minimum value: -1\nMaximum value: 2147483647,False,False,For internal use only.,Time Zone Rule Version Number,timezoneruleversionnumber,True,None,TimeZoneRuleVersionNumber,False,territory,Integer,False
10799,Targets:\ntransactioncurrency,True,False,Unique identifier of the currency associated w...,Currency,transactioncurrencyid,True,None,TransactionCurrencyId,False,territory,Lookup,True
10800,Format: Text\nMax length: 100,False,False,NaN,NaN,transactioncurrencyidname,True,None,TransactionCurrencyIdName,False,territory,String,False
10801,Minimum value: -1\nMaximum value: 2147483647,False,False,Time zone code that was in use when the record...,UTC Conversion Time Zone Code,utcconversiontimezonecode,True,None,UTCConversionTimeZoneCode,False,territory,Integer,False
10802,Minimum value: -9223372036854775808\nMaximum v...,False,False,Version Number,Version Number,versionnumber,True,None,VersionNumber,False,territory,BigInt,False

In [10]:
informatica_report=pd.read_csv('/s/latluri1/dsc10742_gcctmsd_lz_db_phase3.csv',encoding='ISO-8859-1')
informatica_report

,#DATABASE_NAME,TABLE_NAME,COLUMN_NAME,DATATYPE,INFA_INFERRED_DATATYPE,MINIMUM_VALUE,MAXIMUM_VALUE,DISTINCT_VALUE,DISTINCT_PERCENT,NULL_VALUE_COUNT,...,BLANK_PERCENT,TOTAL_ROWS,TOTAL_SUM,REGEX_PATTERN,SECURITY_LEVEL,LAST_TIME_RUN,APPROVER_CDSID,APPROVED_DATE_TIME,APPROVED_DOMAIN_NAME,APPROVED_SECURITY_LEVEL
0,dsc10742_gcctmsd_lz_db,account,account_identity,bigint,Integer(6) [100.00%],1,685485,78852,22.52,NaN,...,0,350000,3.616137e+10,NaN,NoPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
1,dsc10742_gcctmsd_lz_db,account,account_rowversion,string,Fixed Length String(12) [100.00%],AAAAABf5/Po=,AAAAABpwwVQ=,349991,99.99,NaN,...,0,350000,NaN,NaN,NoPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
2,dsc10742_gcctmsd_lz_db,account,accountcategorycode,integer,NaN,0,0,0,0,NaN,...,0,350000,0.000000e+00,NaN,NoPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
3,dsc10742_gcctmsd_lz_db,account,accountclassificationcode,integer,Integer(1) [100.00%],0,1,1,0.01,NaN,...,0,350000,3.400190e+05,NaN,NoPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
4,dsc10742_gcctmsd_lz_db,account,accountid,string,Fixed Length String(36) [100.00%],00003938-4945-E911-A853-000D3A13AE0A,FFFFA6F6-7A7D-E911-A855-000D3A13A9C6,52297,14.94,NaN,...,0,350000,NaN,Regex_DataDomain_Column_Rule_AccountNumber,SPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
5,dsc10742_gcctmsd_lz_db,account,accountnumber,string,Integer(2) [100.00%],NaN,6,2,0.01,NaN,...,0,350000,NaN,Regex_DataDomain_Column_Rule_AccountNumber,SPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
6,dsc10742_gcctmsd_lz_db,account,accountratingcode,integer,Integer(1) [100.00%],1,1,1,0.01,NaN,...,0,350000,3.400190e+05,NaN,NoPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
7,dsc10742_gcctmsd_lz_db,account,address1_addressid,string,Fixed Length String(36) [100.00%],0000041A-ACEA-489D-A068-22E9D14FA17F,FFFFD6A6-3D3D-43AA-BFD4-4778B0304E1D,78852,22.52,NaN,...,0,350000,NaN,NaN,NoPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
8,dsc10742_gcctmsd_lz_db,account,address1_addresstypecode,integer,Integer(1) [100.00%],1,4,4,0.01,NaN,...,0,350000,2.794000e+03,NaN,NoPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
9,dsc10742_gcctmsd_lz_db,account,address1_city,string,String(31) [100.00%],*,ÃƒÂLVARO OBREGÃƒÂ“N,11104,3.17,NaN,...,0,350000,NaN,Regex_DataDomain_Column_Rule_CityOrTown_valida...,PII,7/23/2019 2:04,NaN,NaN,NaN,NaN
10,dsc10742_gcctmsd_lz_db,account,address1_composite,string,String(50) [100.00%],# 10 Highway South \r\nThe Pas...,"ÃLVARO OBREGÃ“N, DF 01050",43024,12.29,NaN,...,0,350000,NaN,NaN,NoPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
11,dsc10742_gcctmsd_lz_db,account,address1_country,string,String(24) [100.00%],NaN,United States of America,5,0.01,NaN,...,0,350000,NaN,Country,PII,7/23/2019 2:04,NaN,NaN,NaN,NaN
12,dsc10742_gcctmsd_lz_db,account,address1_county,string,Integer(3) [95.65%],0,usa,358,0.1,NaN,...,0,350000,NaN,NaN,NoPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
13,dsc10742_gcctmsd_lz_db,account,address1_fax,string,Integer(10) [100.00%],2052712058,8164365759,13,0.01,NaN,...,0,350000,NaN,Regex_DataDomain_Column_Rule_PhoneNumber_valid...,PII,7/23/2019 2:04,NaN,NaN,NaN,NaN
14,dsc10742_gcctmsd_lz_db,account,address1_freighttermscode,integer,NaN,0,0,0,0,NaN,...,0,350000,0.000000e+00,NaN,NoPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
15,dsc10742_gcctmsd_lz_db,account,address1_latitude,decimal,"Decimal(7,5) [100.00%]",-25.7586,64.857,5974,1.7,NaN,...,0,350000,3.234302e+06,Geocode_Latitude,PII,7/23/2019 2:04,NaN,NaN,NaN,NaN
16,dsc10742_gcctmsd_lz_db,account,address1_line1,string,String(50) [100.00%],# 10 Highway South,Â¦1100Â¦9THÂ¦AVE.Â¦S.W.,36611,10.46,NaN,...,0,350000,NaN,NaN,NoPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
17,dsc10742_gcctmsd_lz_db,account,address1_line2,string,String(37) [100.00%],#5,suite 1,511,0.14,NaN,...,0,350000,NaN,NaN,NoPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
18,dsc10742_gcctmsd_lz_db,account,address1_line3,string,String(28) [100.00%],1051 MASTIC ROAD,`,40,0.01,NaN,...,0,350000,NaN,NaN,NoPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
19,dsc10742_gcctmsd_lz_db,account,address1_longitude,decimal,"Decimal(8,5) [100.00%]",-157.952,80.198,6904,1.97,NaN,...,0,350000,-7.615885e+06,Geocode_Longtitude,PII,7/23/2019 2:04,NaN,NaN,NaN,NaN
20,dsc10742_gcctmsd_lz_db,account,address1_name,string,String(43) [100.00%],A. Dale ...,Yves ...,2127,0.6,NaN,...,0,350000,NaN,NaN,NoPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
21,dsc10742_gcctmsd_lz_db,account,address1_postalcode,string,String(12) [100.00%],0,v4f40b2,24314,6.94,NaN,...,0,350000,NaN,Regex_DataDomain_Column_Rule_StateOrProvince_v...,PII,7/23/2019 2:04,NaN,NaN,NaN,NaN
22,dsc10742_gcctmsd_lz_db,account,address1_postofficebox,string,Integer(7) [96.23%],"#2, box 13",U,1369,0.39,NaN,...,0,350000,NaN,NaN,NoPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
23,dsc10742_gcctmsd_lz_db,account,address1_primarycontactname,string,NaN,NaN,NaN,0,0,NaN,...,0,350000,NaN,NaN,NoPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
24,dsc10742_gcctmsd_lz_db,account,address1_shippingmethodcode,integer,NaN,0,0,0,0,NaN,...,0,350000,0.000000e+00,Regex_Datadomain_Column_Rule_Racial_Ethnic,SPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
25,dsc10742_gcctmsd_lz_db,account,address1_stateorprovince,string,Fixed Length String(2) [99.91%],8029,wisconsin,265,0.07,NaN,...,0,350000,NaN,Regex_DataDomain_Column_Rule_StateOrProvince_v...,PII,7/23/2019 2:04,NaN,NaN,NaN,NaN
26,dsc10742_gcctmsd_lz_db,account,address1_telephone1,string,String(14) [100.00%],(215) 334-7500,9999999999,2401,0.68,NaN,...,0,350000,NaN,Regex_DataDomain_Column_Rule_PhoneNumber_valid...,PII,7/23/2019 2:04,NaN,NaN,NaN,NaN
27,dsc10742_gcctmsd_lz_db,account,address1_telephone2,string,Integer(7) [100.00%],6999347,735980,2,0.01,NaN,...,0,350000,NaN,Regex_DataDomain_Column_Rule_PhoneNumber_valid...,PII,7/23/2019 2:04,NaN,NaN,NaN,NaN
28,dsc10742_gcctmsd_lz_db,account,address1_telephone3,string,NaN,NaN,NaN,0,0,NaN,...,0,350000,NaN,Regex_DataDomain_Column_Rule_PhoneNumber_valid...,PII,7/23/2019 2:04,NaN,NaN,NaN,NaN
29,dsc10742_gcctmsd_lz_db,account,address1_upszone,string,NaN,NaN,NaN,0,0,NaN,...,0,350000,NaN,NaN,NoPII,7/23/2019 2:04,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11117,dsc10742_gcctmsd_lz_db,territory,manageridname,string,NaN,NaN,NaN,0,0,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11118,dsc10742_gcctmsd_lz_db,territory,manageridyominame,string,NaN,NaN,NaN,0,0,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11119,dsc10742_gcctmsd_lz_db,territory,message__id,string,Fixed Length String(33) [100.00%],08586381448120021180495564127CU68,08586437157575917350657290293CU21,498,100,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11120,dsc10742_gcctmsd_lz_db,territory,modifiedby,string,Fixed Length String(36) [100.00%],2655219C-451B-E911-A873-000D3A1BE04C,C5B75D50-BD94-E811-A85E-000D3A1BE051,2,0.4,NaN,...,0,498,NaN,Regex_DataDomain_Column_Rule_CDSID_validation,PII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11121,dsc10742_gcctmsd_lz_db,territory,modifiedby_entitytype,string,Fixed Length String(10) [100.00%],systemuser,systemuser,1,0.2,NaN,...,0,498,NaN,Regex_DataDomain_Column_Rule_CDSID_validation,PII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11122,dsc10742_gcctmsd_lz_db,territory,modifiedbyname,string,NaN,NaN,NaN,0,0,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11123,dsc10742_gcctmsd_lz_db,territory,modifiedbyyominame,string,Fixed Length String(8) [99.79%],Jim Zorzit,P Rxa2ap,2,0.4,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11124,dsc10742_gcctmsd_lz_db,territory,modifiedon,date/time,Date Time {dd/mm/year HH24:mi:ss: 37.36%} {mm/...,2/1/2019 13:40,7/18/2019 14:50,455,91.36,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11125,dsc10742_gcctmsd_lz_db,territory,modifiedonbehalfby,string,NaN,NaN,NaN,0,0,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11126,dsc10742_gcctmsd_lz_db,territory,modifiedonbehalfby_entitytype,string,NaN,NaN,NaN,0,0,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11127,dsc10742_gcctmsd_lz_db,territory,modifiedonbehalfbyname,string,NaN,NaN,NaN,0,0,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11128,dsc10742_gcctmsd_lz_db,territory,modifiedonbehalfbyyominame,string,NaN,NaN,NaN,0,0,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11129,dsc10742_gcctmsd_lz_db,territory,name,string,String(15) [100.00%],01###0,WEWEL06,456,91.56,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11130,dsc10742_gcctmsd_lz_db,territory,organizationid,string,Fixed Length String(36) [100.00%],3A9C591F-DA14-4867-8AEC-CFD07A2D8327,3A9C591F-DA14-4867-8AEC-CFD07A2D8327,1,0.2,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11131,dsc10742_gcctmsd_lz_db,territory,organizationid_entitytype,string,Fixed Length String(12) [100.00%],organization,organization,1,0.2,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11132,dsc10742_gcctmsd_lz_db,territory,organizationidname,string,NaN,NaN,NaN,0,0,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11133,dsc10742_gcctmsd_lz_db,territory,overriddencreatedon,date/time,NaN,01/01/1753 00:00:00,01/01/1753 00:00:00,0,0,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11134,dsc10742_gcctmsd_lz_db,territory,process__id,string,String(20) [100.00%],PN_1290634281738247,PN_9386017051368198,38,7.63,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11135,dsc10742_gcctmsd_lz_db,territory,shakey,string,Fixed Length String(50) [100.00%],00030314a625bc4b7a770b389cd80e6d3cce0f1a29b9f2...,ffa7decabf66c508b24df2a235a0fa69a9fa59f2738a85...,498,100,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11136,dsc10742_gcctmsd_lz_db,territory,sinkcreatedon,date/time,Date Time {dd/mm/year HH24:mi:ss: 37.36%} {mm/...,2/1/2019 18:17,7/18/2019 14:58,441,88.55,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11137,dsc10742_gcctmsd_lz_db,territory,sinkmodifiedon,date/time,Date Time {dd/mm/year HH24:mi:ss: 37.36%} {mm/...,2/1/2019 18:17,7/18/2019 14:58,441,88.55,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11138,dsc10742_gcctmsd_lz_db,territory,territory_identity,integer,Integer(3) [100.00%],1,480,456,91.56,NaN,...,0,498,1.278010e+05,Country,PII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11139,dsc10742_gcctmsd_lz_db,territory,territory_rowversion,string,Fixed Length String(12) [100.00%],AAAAABg7+No=,AAAAABpT1VM=,498,100,NaN,...,0,498,NaN,Country,PII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11140,dsc10742_gcctmsd_lz_db,territory,territoryid,string,Fixed Length String(36) [100.00%],00E96C4F-A178-E911-A857-000D3A13AE0A,FF72E340-C12B-E911-A854-000D3A13AF3A,456,91.56,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11141,dsc10742_gcctmsd_lz_db,territory,timezoneruleversionnumber,integer,NaN,0,0,0,0,NaN,...,0,498,0.000000e+00,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11142,dsc10742_gcctmsd_lz_db,territory,transactioncurrencyid,string,Fixed Length String(36) [100.00%],5C3004A0-2593-E811-A982-000D3A1AB978,5C3004A0-2593-E811-A982-000D3A1AB978,1,0.2,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11143,dsc10742_gcctmsd_lz_db,territory,transactioncurrencyid_entitytype,string,Fixed Length String(19) [100.00%],NaN,transactioncurrency,1,0.2,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11144,dsc10742_gcctmsd_lz_db,territory,transactioncurrencyidname,string,NaN,NaN,NaN,0,0,NaN,...,0,498,NaN,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11145,dsc10742_gcctmsd_lz_db,territory,utcconversiontimezonecode,integer,NaN,0,0,0,0,NaN,...,0,498,0.000000e+00,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN
11146,dsc10742_gcctmsd_lz_db,territory,versionnumber,bigint,Integer(10) [100.00%],92898679,1259201209,456,91.56,NaN,...,0,498,3.470000e+11,NaN,NoPII,7/23/2019 2:37,NaN,NaN,NaN,NaN

In [11]:
final=informatica_report.merge(schema_df,how='left',left_on=['TABLE_NAME','COLUMN_NAME'],right_on=['Table','Logical Name'],suffixes=('_old','_new') )
final=final.drop_duplicates()

In [12]:
pd.value_counts(final.APPROVED_SECURITY_LEVEL,dropna=False).to_frame().reset_index()

   index  APPROVED_SECURITY_LEVEL
0    NaN                    11147

In [13]:
global_desc_contains={"PII":[" fin$","^fin$","^vin$"," vin$","weblink","url","sales code","P&A Code","path","title"," fin "," vin ","user","subject","box","fax","financial","Amount","unique","address","telephone","phone","contact","fax","^Type","email"]}

In [14]:
for i in global_desc_contains.keys():
        for j in global_desc_contains[i]:
            final.loc[final["Description"].str.contains(j,na=False,case=False),"APPROVED_SECURITY_LEVEL"]=i

In [15]:
pd.value_counts(final.APPROVED_SECURITY_LEVEL,dropna=False).to_frame().reset_index()

  index  APPROVED_SECURITY_LEVEL
0   NaN                     8954
1   PII                     2193

In [16]:
global_crm_dtype={"PII":["BigInt","Customer","Double","Lookup","Memo","Money","Owner","PartyList","Picklist","Uniqueidentifier"],"No PII":["Boolean","DateTime","EntityName","Integer","State","Status","Virtual","Decimal"]}

In [17]:
for i in global_crm_dtype.keys():
        for j in global_crm_dtype[i]:
            final.loc[final["Type"]==j,"APPROVED_SECURITY_LEVEL"]=i

In [18]:
pd.value_counts(final.APPROVED_SECURITY_LEVEL,dropna=False).to_frame().reset_index()

    index  APPROVED_SECURITY_LEVEL
0     NaN                     5478
1     PII                     3208
2  No PII                     2461

In [19]:
global_col_name_contains={"PII":["path$","url","security","password","versionnumber","name","zip","post","contact","unique","_identity$","_rowversion$","id$","by$","entitystring","shakey","address","latitude","longitude"],"No PII":["lastupdatedatetime","lastupdtby","eventtype","process__id","message__id","eventdatetime","_entitytype$"]}

In [20]:
for i in global_col_name_contains.keys():
        for j in global_col_name_contains[i]:
            final.loc[final["COLUMN_NAME"].str.contains(j,na=False,case=False),"APPROVED_SECURITY_LEVEL"]=i

In [21]:
pd.value_counts(final.APPROVED_SECURITY_LEVEL,dropna=False).to_frame().reset_index()

    index  APPROVED_SECURITY_LEVEL
0     PII                     6240
1  No PII                     4307
2     NaN                      600

In [28]:
#if the CRM schema is missing=> new fields in GCCT 
#we will have to depend on informatica information
global_informatica_dtpe_contains={"No PII":["integer","date/time"]}

In [29]:
for i in global_informatica_dtpe_contains.keys():
        for j in global_informatica_dtpe_contains[i]:
            final.loc[final["DATATYPE"].str.contains(j,na=False,case=False),"APPROVED_SECURITY_LEVEL"]=i

In [30]:
pd.value_counts(final.APPROVED_SECURITY_LEVEL,dropna=False).to_frame().reset_index()

    index  APPROVED_SECURITY_LEVEL
0     PII                     5519
1  No PII                     5241
2     NaN                      387

In [31]:
final.to_csv("dsc10742_gcctmsd_lz_db_profiling_phase3_v6.csv",index=False,encoding='utf-8')

In [33]:
stmnt='echo \"GCCT profiling workshop phase 3 v6  '+output_name+'\" | mailx -a dsc10742_gcctmsd_lz_db_profiling_phase3_v6.csv -s "gcct profiling workshop phase3 v6" latluri1@ford.com'
print(stmnt)
commands.getstatusoutput(stmnt)

echo "GCCT profiling workshop phase 3 v6  July_2019" | mailx -a dsc10742_gcctmsd_lz_db_profiling_phase3_v6.csv -s "gcct profiling workshop phase3 v6" latluri1@ford.com

(0, '')