In [1]:
import os
import sys
import re
import pandas as pd
import commands
import ast
import itertools
import pyspark.sql.functions
from pyspark.sql.functions import col
from datetime import datetime
#from pyspark.sql import SparkSession
spark_home = os.environ.get('SPARK_HOME', None)
if not spark_home:
    raise ValueError('SPARK_HOME environment variable is not set')
if not os.path.isdir(spark_home):
    raise ValueError('SPARK_HOME environment variable is not a directory')
if not os.path.isdir(os.path.join(spark_home, 'python')):
    raise ValueError('SPARK_HOME directory does not contain python')
sys.path.insert(0, os.path.join(spark_home, 'python'))
pylib_list = (item for item in os.listdir(os.path.join(spark_home, 'python/lib/'))
              if re.match(r'py4j-\d+(\.\d+)+-src\.zip\Z', item)
              )
try:
    py4j_file = max(pylib_list)
    py4j = os.path.join(spark_home, os.path.join('python/lib', py4j_file))
except ValueError:
    raise ValueError(
        'Could not find py4j'
    )
sys.path.insert(0, py4j)

spark_release_file = spark_home + "/RELEASE"
if os.path.exists(spark_release_file) and "Spark" in  open(spark_release_file).read():
    pyspark_submit_args = os.environ.get("PYSPARK_SUBMIT_ARGS", " --master yarn-client \
                                         --executor-memory 4g --executor-cores 5 --driver-memory 16g"
                                        )
    if not "pyspark-shell" in pyspark_submit_args: pyspark_submit_args += " pyspark-shell"
    os.environ["PYSPARK_SUBMIT_ARGS"] = pyspark_submit_args

with open(os.path.join(spark_home, 'python/pyspark/shell.py')) as f:
    code = compile(f.read(), os.path.join(spark_home, 'python/pyspark/shell.py'), 'exec')
    exec(code)

Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 2.3.0.2.6.5.0-292
      /_/

Using Python version 2.7.15 (default, May  1 2018 23:32:55)
SparkSession available as 'spark'.

In [2]:
database="dsc10742_gcctmsd_lz_db"
tab_list=['account','activityparty','annotation','appointment','businessunit','calendar','calendarrule','contact','cxlvhlp_chatactivity','cxlvhlp_chatqueuestatistic','cxlvhlp_surveyitem','email','fax','gcct_accountresponsibleagent','gcct_additionalsymptomcodes','gcct_addportalmessage','gcct_arbitrationclaimprocessing','gcct_buybackevaluationmilestones','gcct_caseassignment','gcct_caseclassification','gcct_casedispositiontype','gcct_coachback','gcct_country','gcct_customersatisfactiontools','gcct_delegationofauthority','gcct_demandltrtpsmclaimsprocessing','gcct_doaprogramcode','gcct_documentcustomerrecontact','gcct_engine','gcct_executive','gcct_executiveliaison','gcct_fieldinvolvementassistancerequest','gcct_fmcccontract','gcct_fulfillmentvendor','gcct_genericinformation','gcct_genericinformationtopic','gcct_generictopic','gcct_goodfaithreview','gcct_knownpartsdelay','gcct_lemonlawcriteria','gcct_loanercost','gcct_loyaltyassistance','gcct_loyaltycostdetails','gcct_loyaltyprogramcode','gcct_material','gcct_materialrequest','gcct_materialrequestdetail','gcct_offer','gcct_offerdetail','gcct_onlinegaragevehicles','gcct_partsorderstatus','gcct_partsordersystems','gcct_partssmeassistancerequest','gcct_pcarequest','gcct_priordealerdecision','gcct_qaincident','gcct_qamonitoring','gcct_queuepriority','gcct_ravprocessingmilestones','gcct_reactdata','gcct_reacttransmission','gcct_reasoncode','gcct_recall','gcct_region','gcct_rentaldetail','gcct_slaconfiguration','gcct_sms','gcct_socialmediaconversation','gcct_socialmediamessage','gcct_socialmediaprofile','gcct_specialloanercode','gcct_state','gcct_surveyconfiguration','gcct_symptomclassification','gcct_tasktype','gcct_technicalassistancerequest','gcct_testdriverequest','gcct_timezone','gcct_userdelegationofauthority','gcct_vehicle','gcct_vehiclebrand','gcct_vehicleclass','gcct_vehicleloyaltyallowance','gcct_vehicleoffroad','gcct_vehicleowner','gcct_warrantyhistory','gcct_warrantyloanerpartsdelay','gcct_warrantyloanerrequest','gcct_warrantyloanerrequesthistory','globaloptionsetmetadata','incident','incidentresolution','letter','msdyn_answer','msdyn_question','msdyn_questionresponse','msdyn_survey','msdyn_surveyinvite','msdyn_surveyresponse','optionsetmetadata','phonecall','queue','queueitem','sla','slaitem','slakpiinstance','socialactivity','socialprofile','statemetadata','statusmetadata','systemuser','task','team','teammembership','territory','gcct_marketingprogram','gcct_catalogcorrection','gcct_cataloginquiry','gcct_dealerclaims','gcct_fcsinquiry','gcct_partavailabilityinquiry','gcct_partorderstatusinquiry','gcct_partqualitycontrolinquiry','gcct_pricinginquiries','gcct_trafficinquiry','gcct_catalogdeck', 'gcct_partdistributioncenter', 'gcct_portalcasetype']

sqlContext.sql("use "+database)
today=datetime.today().strftime('%Y%m%d')

In [2]:
#Writes schema to excel file. Sheet name as table name
writer = pd.ExcelWriter("test3.xlsx", engine = 'xlsxwriter')

for m in sqlContext.tables(database).select('tableName').where("tableName not like '%temptz%'").where("tableName not like '%bkp%'").where("tableName not like '%bad%'").collect():
            k=m.asDict().values()[0].encode('utf-8')
            k2=k[:31]
            g1=sqlCtx.sql('desc '+k).toPandas()
            g1.to_excel(writer, sheet_name=k2, index=False)

writer.save()
writer.close()

# Prod use xlsx
# QA use CSV

# PROD

In [3]:
#Writes schema to excel file. All in one sheet
df= pd.DataFrame(columns = ['col_name','data_type','table'])
file_name="GCCT_schema_DSC_PROD_Sep_19_2019_LZ.xlsx"
writer = pd.ExcelWriter(file_name, engine = 'xlsxwriter')


#for m in sqlContext.tables(database).select('tableName').where("tableName not like '%temptz%'").where("tableName not like '%dup%'").where("tableName not like '%bkp%'").where("tableName not like '%bad%'").collect():
for k in tab_list:
            #k=m.asDict().values()[0].encode('utf-8')
            g1=sqlCtx.sql('desc '+k).toPandas()
            g1['table']=k
            g1=g1[['col_name','data_type','table']]
            df=df.append(g1, ignore_index=True)
            


df.to_excel(writer, sheet_name="sheet1", index=False)

writer.save()
writer.close()

commands.getoutput("cp "+file_name+" /s/latluri1/GCCT_DES_DSC_monitoring/PROD/archive")

''

# QA

In [3]:
#Writes schema to excel file. All in one sheet CSV 
df= pd.DataFrame(columns = ['col_name','data_type','table'])


#for m in sqlContext.tables(database).select('tableName').where("tableName not like '%temptz%'").where("tableName not like '%dup%'").where("tableName not like '%bkp%'").where("tableName not like '%bad%'").collect():
for k in tab_list:
            #k=m.asDict().values()[0].encode('utf-8')
            g1=sqlCtx.sql('desc '+k).toPandas()
            g1['table']=k
            g1=g1[['col_name','data_type','table']]
            df=df.append(g1, ignore_index=True)
             


df.to_csv("/s/latluri1/GCCT_DES_DSC_monitoring/PPROD/archive/GCCT_schema_DSC_QA_Aug_19_2019_LZ.csv",index=False)

In [3]:
database="lacek_fpr"
sqlContext.sql("use "+database)
#Writes schema to excel file. All in one sheet CSV 
df= pd.DataFrame(columns = ['col_name','data_type','table'])


for m in sqlContext.tables(database).collect():
#for k in tab_list:
            k=m.asDict().values()[0].encode('utf-8')
            g1=sqlCtx.sql('desc '+k).toPandas()
            g1['table']=k
            g1=g1[['col_name','data_type','table']]
            df=df.append(g1, ignore_index=True)
            


df.to_csv("lacek_fpr_comarch.csv",index=False)

In [22]:
df.table.describe()

count       12341
unique        115
top       contact
freq          431
Name: table, dtype: object

In [4]:
df.to_csv("/s/latluri1/GCCT_DES_DSC_monitoring/PROD/GCCT_schema_DSC_PROD_"+today+".csv",index=False)

In [7]:
#Writes schema to excel file. All in one sheet uses the list of tables
df= pd.DataFrame(columns = ['col_name','data_type','table'])
writer = pd.ExcelWriter("GCCT_schema_Mar19.xlsx", engine = 'xlsxwriter')
tab_list=['account','activityparty','annotation','appointment','businessunit','calendar','calendarrule','contact','cxlvhlp_chatactivity','cxlvhlp_chatqueuestatistic','cxlvhlp_surveyitem','email','fax','gcct_accountresponsibleagent','gcct_additionalsymptomcodes','gcct_addportalmessage','gcct_arbitrationclaimprocessing','gcct_buybackevaluationmilestones','gcct_caseassignment','gcct_caseclassification','gcct_casedispositiontype','gcct_coachback','gcct_country','gcct_customersatisfactiontools','gcct_delegationofauthority','gcct_demandltrtpsmclaimsprocessing','gcct_doaprogramcode','gcct_documentcustomerrecontact','gcct_engine','gcct_executive','gcct_executiveliaison','gcct_fieldinvolvementassistancerequest','gcct_fmcccontract','gcct_fulfillmentvendor','gcct_genericinformation','gcct_genericinformationtopic','gcct_generictopic','gcct_goodfaithreview','gcct_knownpartsdelay','gcct_lemonlawcriteria','gcct_loanercost','gcct_loyaltyassistance','gcct_loyaltycostdetails','gcct_loyaltyprogramcode','gcct_material','gcct_materialrequest','gcct_materialrequestdetail','gcct_offer','gcct_offerdetail','gcct_onlinegaragevehicles','gcct_partsorderstatus','gcct_partsordersystems','gcct_partssmeassistancerequest','gcct_pcarequest','gcct_priordealerdecision','gcct_qaincident','gcct_qamonitoring','gcct_queuepriority','gcct_ravprocessingmilestones','gcct_reactdata','gcct_reacttransmission','gcct_reasoncode','gcct_recall','gcct_region','gcct_rentaldetail','gcct_slaconfiguration','gcct_sms','gcct_socialmediaconversation','gcct_socialmediamessage','gcct_socialmediaprofile','gcct_specialloanercode','gcct_state','gcct_surveyconfiguration','gcct_symptomclassification','gcct_tasktype','gcct_technicalassistancerequest','gcct_testdriverequest','gcct_timezone','gcct_userdelegationofauthority','gcct_vehicle','gcct_vehiclebrand','gcct_vehicleclass','gcct_vehicleloyaltyallowance','gcct_vehicleoffroad','gcct_vehicleowner','gcct_warrantyhistory','gcct_warrantyloanerpartsdelay','gcct_warrantyloanerrequest','gcct_warrantyloanerrequesthistory','globaloptionsetmetadata','incident','incidentresolution','letter','msdyn_answer','msdyn_question','msdyn_questionresponse','msdyn_survey','msdyn_surveyinvite','msdyn_surveyresponse','optionsetmetadata','phonecall','queue','queueitem','sla','slaitem','slakpiinstance','socialactivity','socialprofile','statemetadata','statusmetadata','systemuser','task','team','teammembership','territory']
#for m in sqlContext.tables(database).select('tableName').where("tableName not like '%temptz%'").where("tableName not like '%dup%'").where("tableName not like '%bkp%'").where("tableName not like '%bad%'").collect():
for k in tab_list:
            #k=m.asDict().values()[0].encode('utf-8')
            g1=sqlCtx.sql('desc '+k).toPandas()
            g1['table']=k
            g1=g1[['col_name','data_type','table']]
            df=df.append(g1, ignore_index=True)
            


df.to_excel(writer, sheet_name="sheet1", index=False)
writer.save()
writer.close()

In [3]:
#Schema obtained from MSD
import xlrd
a=pd.ExcelFile('GCCT_EntitySchema_v2.4.xlsx')

In [4]:
e1=sqlContext.tables(database).select('tableName').where("tableName not like '%bkp%'").where("tableName not like '%temptz%'").toPandas()["tableName"]
e2=list(set([i.lower() for sublist in e1 for i in sublist.encode('utf-8').replace("[","").replace("]","").split(", ")]))

# Compare GCCT schema with DSC

In [9]:
g=set([ h.encode('utf-8').lower() for h in list(a.parse('Account (Account)')['Logical Name'])])

In [10]:
j= set([u.lower() for u in sqlContext.table("account").columns])

In [11]:
len(j.intersection(g))

301

In [99]:
j.difference(g)

{'createdby_entitytype',
 'createdonbehalfby_entitytype',
 'entityid',
 'entitystring',
 'eventdatetime',
 'eventtype',
 'gcct_csmtypecode',
 'gcct_managerid_entitytype',
 'gcct_territorygroup_entitytype',
 'id',
 'lastupdatedatetime',
 'lastupdtby',
 'managerid_entitytype',
 'message__id',
 'modifiedby_entitytype',
 'modifiedonbehalfby_entitytype',
 'organizationid_entitytype',
 'process__id',
 'shakey',
 'sinkcreatedon',
 'sinkmodifiedon',
 'transactioncurrencyid_entitytype'}

In [14]:
len(g.difference(j))

59

In [16]:
len(j),len(g)

(356, 360)

# Comparing GCCT with DSC schema

In [98]:
for i in a.sheet_names:
    b=i.encode('utf-8')
    for c2 in re.findall('\(([^)]+)',b):                
                c=c2.lower()
                #print b,c
                if c in e2:
                    #print("########################################")
                    g=set([ h.encode('utf-8').lower() for h in list(a.parse(b)['Logical Name'])])
                    j= set([u.lower() for u in sqlContext.table(c).columns])
                    print("Table "+str(c)+":"+str(len(j))+" GCCT_Schema:"+str(len(g))+" Common:"+str(len(j.intersection(g)))+" DSC_uniq:"+str(len(j.difference(g)))+" GCCT_uniq:"+str(len(g.difference(j))))

Table account:356 GCCT_Schema:360 Common:301 DSC_uniq:55 GCCT_uniq:59
Table activityparty:43 GCCT_Schema:32 Common:25 DSC_uniq:18 GCCT_uniq:7
Table annotation:61 GCCT_Schema:41 Common:38 DSC_uniq:23 GCCT_uniq:3
Table appointment:129 GCCT_Schema:116 Common:99 DSC_uniq:30 GCCT_uniq:17
Table businessunit:108 GCCT_Schema:92 Common:86 DSC_uniq:22 GCCT_uniq:6
Table calendar:29 GCCT_Schema:28 Common:11 DSC_uniq:18 GCCT_uniq:17
Table calendarrule:44 GCCT_Schema:46 Common:27 DSC_uniq:17 GCCT_uniq:19
Table contact:430 GCCT_Schema:443 Common:370 DSC_uniq:60 GCCT_uniq:73
Table cxlvhlp_chatactivity:177 GCCT_Schema:159 Common:139 DSC_uniq:38 GCCT_uniq:20
Table cxlvhlp_surveyitem:58 GCCT_Schema:38 Common:35 DSC_uniq:23 GCCT_uniq:3
Table email:160 GCCT_Schema:148 Common:128 DSC_uniq:32 GCCT_uniq:20
Table fax:105 GCCT_Schema:87 Common:78 DSC_uniq:27 GCCT_uniq:9
Table gcct_addportalmessage:131 GCCT_Schema:115 Common:100 DSC_uniq:31 GCCT_uniq:15
Table gcct_caseassignment:134 GCCT_Schema:120 Common:103 DSC_uniq:31 GCCT_uniq:17
Table gcct_caseclassification:120 GCCT_Schema:108 Common:97 DSC_uniq:23 GCCT_uniq:11
Table gcct_casedispositiontype:78 GCCT_Schema:58 Common:56 DSC_uniq:22 GCCT_uniq:2
Table gcct_coachback:128 GCCT_Schema:112 Common:98 DSC_uniq:30 GCCT_uniq:14
Table gcct_country:59 GCCT_Schema:38 Common:36 DSC_uniq:23 GCCT_uniq:2
Table gcct_doaprogramcode:59 GCCT_Schema:37 Common:35 DSC_uniq:24 GCCT_uniq:2
Table gcct_engine:53 GCCT_Schema:33 Common:31 DSC_uniq:22 GCCT_uniq:2
Table gcct_executive:62 GCCT_Schema:40 Common:38 DSC_uniq:24 GCCT_uniq:2
Table gcct_executiveliaison:124 GCCT_Schema:109 Common:95 DSC_uniq:29 GCCT_uniq:14
Table gcct_fmcccontract:86 GCCT_Schema:62 Common:59 DSC_uniq:27 GCCT_uniq:3
Table gcct_fulfillmentvendor:53 GCCT_Schema:33 Common:31 DSC_uniq:22 GCCT_uniq:2
Table gcct_genericinformation:122 GCCT_Schema:106 Common:93 DSC_uniq:29 GCCT_uniq:13
Table gcct_generictopic:52 GCCT_Schema:32 Common:30 DSC_uniq:22 GCCT_uniq:2
Table gcct_goodfaithreview:188 GCCT_Schema:180 Common:150 DSC_uniq:38 GCCT_uniq:30
Table gcct_knownpartsdelay:71 GCCT_Schema:51 Common:46 DSC_uniq:25 GCCT_uniq:5
Table gcct_lemonlawcriteria:63 GCCT_Schema:46 Common:40 DSC_uniq:23 GCCT_uniq:6
Table gcct_loanercost:70 GCCT_Schema:43 Common:41 DSC_uniq:29 GCCT_uniq:2
Table gcct_loyaltyassistance:195 GCCT_Schema:192 Common:160 DSC_uniq:35 GCCT_uniq:32
Table gcct_loyaltycostdetails:111 GCCT_Schema:90 Common:82 DSC_uniq:29 GCCT_uniq:8
Table gcct_loyaltyprogramcode:62 GCCT_Schema:43 Common:38 DSC_uniq:24 GCCT_uniq:5
Table gcct_material:77 GCCT_Schema:51 Common:48 DSC_uniq:29 GCCT_uniq:3
Table gcct_materialrequest:132 GCCT_Schema:115 Common:102 DSC_uniq:30 GCCT_uniq:13
Table gcct_offer:125 GCCT_Schema:109 Common:96 DSC_uniq:29 GCCT_uniq:13
Table gcct_offerdetail:72 GCCT_Schema:49 Common:45 DSC_uniq:27 GCCT_uniq:4
Table gcct_onlinegaragevehicles:82 GCCT_Schema:54 Common:52 DSC_uniq:30 GCCT_uniq:2
Table gcct_partsorderstatus:141 GCCT_Schema:125 Common:108 DSC_uniq:33 GCCT_uniq:17
Table gcct_partsordersystems:53 GCCT_Schema:33 Common:31 DSC_uniq:22 GCCT_uniq:2
Table gcct_pcarequest:168 GCCT_Schema:164 Common:135 DSC_uniq:33 GCCT_uniq:29
Table gcct_priordealerdecision:122 GCCT_Schema:109 Common:93 DSC_uniq:29 GCCT_uniq:16
Table gcct_qaincident:74 GCCT_Schema:50 Common:47 DSC_uniq:27 GCCT_uniq:3
Table gcct_qamonitoring:56 GCCT_Schema:37 Common:35 DSC_uniq:21 GCCT_uniq:2
Table gcct_queuepriority:58 GCCT_Schema:38 Common:36 DSC_uniq:22 GCCT_uniq:2
Table gcct_reactdata:110 GCCT_Schema:108 Common:88 DSC_uniq:22 GCCT_uniq:20
Table gcct_reacttransmission:145 GCCT_Schema:144 Common:116 DSC_uniq:29 GCCT_uniq:28
Table gcct_reasoncode:53 GCCT_Schema:36 Common:33 DSC_uniq:20 GCCT_uniq:3
Table gcct_recall:119 GCCT_Schema:106 Common:93 DSC_uniq:26 GCCT_uniq:13
Table gcct_region:51 GCCT_Schema:33 Common:31 DSC_uniq:20 GCCT_uniq:2
Table gcct_rentaldetail:179 GCCT_Schema:163 Common:140 DSC_uniq:39 GCCT_uniq:23
Table gcct_slaconfiguration:73 GCCT_Schema:54 Common:48 DSC_uniq:25 GCCT_uniq:6
Table gcct_sms:116 GCCT_Schema:101 Common:89 DSC_uniq:27 GCCT_uniq:12
Table gcct_socialmediamessage:57 GCCT_Schema:37 Common:35 DSC_uniq:22 GCCT_uniq:2
Table gcct_socialmediaprofile:60 GCCT_Schema:43 Common:39 DSC_uniq:21 GCCT_uniq:4
Table gcct_specialloanercode:69 GCCT_Schema:51 Common:46 DSC_uniq:23 GCCT_uniq:5
Table gcct_state:54 GCCT_Schema:35 Common:33 DSC_uniq:21 GCCT_uniq:2
Table gcct_surveyconfiguration:72 GCCT_Schema:56 Common:50 DSC_uniq:22 GCCT_uniq:6
Table gcct_tasktype:50 GCCT_Schema:32 Common:30 DSC_uniq:20 GCCT_uniq:2
Table gcct_testdriverequest:181 GCCT_Schema:166 Common:144 DSC_uniq:37 GCCT_uniq:22
Table gcct_timezone:53 GCCT_Schema:35 Common:33 DSC_uniq:20 GCCT_uniq:2
Table gcct_vehicle:118 GCCT_Schema:106 Common:90 DSC_uniq:28 GCCT_uniq:16
Table gcct_vehiclebrand:50 GCCT_Schema:32 Common:30 DSC_uniq:20 GCCT_uniq:2
Table gcct_vehicleclass:58 GCCT_Schema:40 Common:37 DSC_uniq:21 GCCT_uniq:3
Table gcct_vehicleoffroad:147 GCCT_Schema:144 Common:113 DSC_uniq:34 GCCT_uniq:31
Table gcct_vehicleowner:99 GCCT_Schema:75 Common:68 DSC_uniq:31 GCCT_uniq:7
Table gcct_warrantyhistory:68 GCCT_Schema:49 Common:46 DSC_uniq:22 GCCT_uniq:3
Table incident:378 GCCT_Schema:343 Common:292 DSC_uniq:86 GCCT_uniq:51
Table incidentresolution:126 GCCT_Schema:109 Common:97 DSC_uniq:29 GCCT_uniq:12
Table letter:100 GCCT_Schema:83 Common:75 DSC_uniq:25 GCCT_uniq:8
Table msdyn_answer:70 GCCT_Schema:51 Common:47 DSC_uniq:23 GCCT_uniq:4
Table msdyn_question:152 GCCT_Schema:170 Common:125 DSC_uniq:27 GCCT_uniq:45
Table msdyn_questionresponse:73 GCCT_Schema:51 Common:48 DSC_uniq:25 GCCT_uniq:3
Table msdyn_survey:180 GCCT_Schema:190 Common:152 DSC_uniq:28 GCCT_uniq:38
Table msdyn_surveyinvite:166 GCCT_Schema:145 Common:130 DSC_uniq:36 GCCT_uniq:15
Table msdyn_surveyresponse:208 GCCT_Schema:182 Common:166 DSC_uniq:42 GCCT_uniq:16
Table phonecall:120 GCCT_Schema:103 Common:92 DSC_uniq:28 GCCT_uniq:11
Table queue:85 GCCT_Schema:73 Common:60 DSC_uniq:25 GCCT_uniq:13
Table queueitem:73 GCCT_Schema:52 Common:49 DSC_uniq:24 GCCT_uniq:3
Table sla:71 GCCT_Schema:55 Common:48 DSC_uniq:23 GCCT_uniq:7
Table slaitem:65 GCCT_Schema:41 Common:41 DSC_uniq:24 GCCT_uniq:0
Table slakpiinstance:62 GCCT_Schema:42 Common:40 DSC_uniq:22 GCCT_uniq:2
Table socialactivity:110 GCCT_Schema:92 Common:82 DSC_uniq:28 GCCT_uniq:10
Table socialprofile:61 GCCT_Schema:43 Common:39 DSC_uniq:22 GCCT_uniq:4
Table systemuser:187 GCCT_Schema:177 Common:158 DSC_uniq:29 GCCT_uniq:19
Table task:128 GCCT_Schema:109 Common:96 DSC_uniq:32 GCCT_uniq:13
Table team:110 GCCT_Schema:94 Common:79 DSC_uniq:31 GCCT_uniq:15
Table teammembership:16 GCCT_Schema:4 Common:4 DSC_uniq:12 GCCT_uniq:0
Table territory:67 GCCT_Schema:49 Common:45 DSC_uniq:22 GCCT_uniq:4

# Merging GCCT schema with DSC -- MAPPING DOC

In [26]:
j=sqlContext.sql("desc account").toPandas()
j['col_name']=j['col_name'].str.lower()
g=a.parse("Account (Account)")
g['Schema Name']=g['Schema Name'].str.lower()

In [28]:
pd.merge(g, j, how='right', left_on=['Schema Name'], right_on=['col_name'])

,Logical Name,Schema Name,Display Name,Type,Description,Custom Attribute,Required Level,ValidFor AdvancedFind,Audit Enabled,Secured,Form location,Additional data,col_name,data_type,comment
0,accountcategorycode,accountcategorycode,Account Category,Picklist,Select a category to indicate whether the cust...,False,None,True,True,False,Information/Details/Description,Options:\n1: Preferred Customer\n2: Standard\n...,accountcategorycode,int,None
1,accountclassificationcode,accountclassificationcode,Classification,Picklist,Select a classification code to indicate the p...,False,None,False,True,False,NaN,Options:\n1: Default Value\nDefault: 1,accountclassificationcode,int,None
2,accountid,accountid,Account,Uniqueidentifier,Unique identifier of the account.,False,SystemRequired,True,False,False,NaN,NaN,accountid,string,None
3,accountnumber,accountnumber,Account Number,String,Type an ID number or code for the account to q...,False,None,True,True,False,Information/General/Account Information,Format: Text\nMax length: 20,accountnumber,string,None
4,accountratingcode,accountratingcode,Account Rating,Picklist,Select a rating to indicate the value of the c...,False,None,False,True,False,NaN,Options:\n1: Default Value\nDefault: 1,accountratingcode,int,None
5,address1_addressid,address1_addressid,Address 1: ID,Uniqueidentifier,Unique identifier for address 1.,False,None,False,False,False,NaN,NaN,address1_addressid,string,None
6,address1_addresstypecode,address1_addresstypecode,Address 1: Address Type,Picklist,Select the primary address type.,False,None,True,True,False,Information/General/Address,Options:\n1: Bill To\n2: Ship To\n3: Primary\n...,address1_addresstypecode,int,None
7,address1_city,address1_city,Address 1: City,String,Type the city for the primary address.,False,None,True,True,False,Information/General/Address\nAccount Quick Cre...,Format: Text\nMax length: 80,address1_city,string,None
8,address1_composite,address1_composite,Address 1,Memo,Shows the complete primary address.,False,None,True,True,False,Account for Interactive experience/Summary/ACC...,Format: TextArea\nMax length: 1000,address1_composite,string,None
9,address1_country,address1_country,Address 1: Country/Region,String,Type the country or region for the primary add...,False,None,True,True,False,Information/General/Address,Format: Text\nMax length: 80,address1_country,string,None
10,address1_county,address1_county,Address 1: County,String,Type the county for the primary address.,False,None,True,True,False,Account/Summary/ADDRESS,Format: Text\nMax length: 50,address1_county,string,None
11,address1_fax,address1_fax,Address 1: Fax,String,Type the fax number associated with the primar...,False,None,True,True,False,NaN,Format: Text\nMax length: 50,address1_fax,string,None
12,address1_freighttermscode,address1_freighttermscode,Address 1: Freight Terms,Picklist,Select the freight terms for the primary addre...,False,None,True,True,False,Account for Interactive experience/Details/SHI...,Options:\n1: FOB\n2: No Charge\nDefault: N/A,address1_freighttermscode,int,None
13,address1_latitude,address1_latitude,Address 1: Latitude,Double,Type the latitude value for the primary addres...,False,None,True,True,False,NaN,Minimum value: -90\nMaximum value: 90\nPrecisi...,address1_latitude,"decimal(38,5)",None
14,address1_line1,address1_line1,Address 1: Street 1,String,Type the first line of the primary address.,False,None,True,True,False,Information/General/Address\nAccount Quick Cre...,Format: Text\nMax length: 250,address1_line1,string,None
15,address1_line2,address1_line2,Address 1: Street 2,String,Type the second line of the primary address.,False,None,True,True,False,Information/General/Address\nAccount Quick Cre...,Format: Text\nMax length: 250,address1_line2,string,None
16,address1_line3,address1_line3,Address 1: Street 3,String,Type the third line of the primary address.,False,None,True,True,False,Information/General/Address\nAccount/Admin/Hidden,Format: Text\nMax length: 250,address1_line3,string,None
17,address1_longitude,address1_longitude,Address 1: Longitude,Double,Type the longitude value for the primary addre...,False,None,True,True,False,NaN,Minimum value: -180\nMaximum value: 180\nPreci...,address1_longitude,"decimal(38,5)",None
18,address1_name,address1_name,Address 1: Name,String,Type a descriptive name for the primary addres...,False,None,True,True,False,Information/General/Address,Format: Text\nMax length: 200,address1_name,string,None
19,address1_postalcode,address1_postalcode,Address 1: ZIP/Postal Code,String,Type the ZIP Code or postal code for the prima...,False,None,True,True,False,Information/General/Address\nAccount Quick Cre...,Format: Text\nMax length: 20,address1_postalcode,string,None
20,address1_postofficebox,address1_postofficebox,Address 1: Post Office Box,String,Type the post office box number of the primary...,False,None,True,True,False,NaN,Format: Text\nMax length: 20,address1_postofficebox,string,None
21,address1_primarycontactname,address1_primarycontactname,Address 1: Primary Contact Name,String,Type the name of the main contact at the accou...,False,None,True,True,False,NaN,Format: Text\nMax length: 100,address1_primarycontactname,string,None
22,address1_shippingmethodcode,address1_shippingmethodcode,Address 1: Shipping Method,Picklist,Select a shipping method for deliveries sent t...,False,None,True,True,False,Account for Interactive experience/Details/SHI...,Options:\n1: Airborne\n2: DHL\n3: FedEx\n4: UP...,address1_shippingmethodcode,int,None
23,address1_stateorprovince,address1_stateorprovince,Address 1: State/Province,String,Type the state or province of the primary addr...,False,None,True,True,False,Information/General/Address\nAccount/Admin/Hidden,Format: Text\nMax length: 50,address1_stateorprovince,string,None
24,address1_telephone1,address1_telephone1,Address Phone,String,Type the main phone number associated with the...,False,None,True,True,False,Information/General/Address,Format: Text\nMax length: 50,address1_telephone1,string,None
25,address1_telephone2,address1_telephone2,Address 1: Telephone 2,String,Type a second phone number associated with the...,False,None,True,True,False,NaN,Format: Text\nMax length: 50,address1_telephone2,string,None
26,address1_telephone3,address1_telephone3,Address 1: Telephone 3,String,Type a third phone number associated with the ...,False,None,True,True,False,NaN,Format: Text\nMax length: 50,address1_telephone3,string,None
27,address1_upszone,address1_upszone,Address 1: UPS Zone,String,Type the UPS zone of the primary address to ma...,False,None,True,True,False,NaN,Format: Text\nMax length: 4,address1_upszone,string,None
28,address1_utcoffset,address1_utcoffset,Address 1: UTC Offset,Integer,"Select the time zone, or UTC offset, for this ...",False,None,False,True,False,NaN,Minimum value: -1500\nMaximum value: 1500,address1_utcoffset,int,None
29,address2_addressid,address2_addressid,Address 2: ID,Uniqueidentifier,Unique identifier for address 2.,False,None,False,False,False,NaN,NaN,address2_addressid,string,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,owninguser_entitytype,string,None
327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,createdbyexternalparty_entitytype,string,None
328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,preferredequipmentid_entitytype,string,None
329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gcct_newassignedlincolndealerid_entitytype,string,None
330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gcct_marketingphonepreferenceupdatedbyid_entit...,string,None
331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,modifiedonbehalfby_entitytype,string,None
332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,primarycontactid_entitytype,string,None
333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gcct_parentprofileid_entitytype,string,None
334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gcct_usedassignedforddealerid_entitytype,string,None
335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,modifiedby_entitytype,string,None
336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gcct_dealerservicemanager_entitytype,string,None
337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gcct_lincolnterritoryid_entitytype,string,None
338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,owningteam_entitytype,string,None
339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,createdonbehalfby_entitytype,string,None
340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gcct_region_entitytype,string,None
341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,createdby_entitytype,string,None
342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,territoryid_entitytype,string,None
343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,gcct_country_entitytype,string,None
344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ownerid_entitytype,string,None
345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,msdyusd_twitter,string,None
346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,msdyusd_facebook,string,None
347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,lastupdtby,string,None
348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,lastupdatedatetime,timestamp,None
349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,shakey,string,None
350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,process__id,string,None
351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,message__id,string,None
352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,entitystring,string,None
353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,entityid,string,None
354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,eventdatetime,string,None
355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,eventtype,string,None

In [31]:
#merges dsc gcct data to GCCT descriptions -- ALL DATA
writer = pd.ExcelWriter("GCCT_dsc_desc.xlsx", engine = 'xlsxwriter')

for i in a.sheet_names:
    b=i.encode('utf-8')
    for c2 in re.findall('\(([^)]+)',b):                
                c=c2.lower()
                #print b,c
                if c in e2:
                    #print("########################################")
                    j=sqlContext.sql("desc "+c).toPandas()
                    j['col_name']=j['col_name'].str.lower()
                    j=j[['col_name','data_type']]
                    g=a.parse(b)
                    g['Schema Name']=g['Schema Name'].str.lower()
                    q1=pd.merge(j, g, how='left', right_on=['Schema Name'], left_on=['col_name'])
                    c_name=c[:31]
                    q1.to_excel(writer, sheet_name=c_name, index=False)

writer.save()
writer.close()

In [33]:
#merges dsc gcct data to GCCT descriptions -- LIMITED COLUMNS
writer = pd.ExcelWriter("GCCT_dsc_desc.xlsx", engine = 'xlsxwriter')

for i in a.sheet_names:
    b=i.encode('utf-8')
    for c2 in re.findall('\(([^)]+)',b):                
                c=c2.lower()
                #print b,c
                if c in e2:
                    #print("########################################")
                    j=sqlContext.sql("desc "+c).toPandas()
                    j['col_name']=j['col_name'].str.lower()
                    j=j[['col_name','data_type']]
                    g=a.parse(b)
                    g['Schema Name']=g['Schema Name'].str.lower()
                    g=g[['Schema Name','Display Name','Description','Additional data']]
                    q1=pd.merge(j, g, how='left', right_on=['Schema Name'], left_on=['col_name'])
                    q1=q1[['col_name','data_type','Display Name','Description','Additional data']]
                    c_name=c[:31]
                    q1.to_excel(writer, sheet_name=c_name, index=False)

writer.save()
writer.close()